# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment files
.env
backend/.env
frontend/.env
backend/config/google-vision-key.json
backend/tmp/
backend/eng.traineddata

# Logs
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db